body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
}
.magnifier-img{
    width: 25px;
    cursor: pointer;
    position: absolute;
    left:20px ;
}
.google-mic{
    width: 30px;
    position: absolute;
    right: 10px;
    transition: width .4s;
    transition-delay: 1s;
}
.search-bar-contianer{
    display:flex;
    align-items: center;
    /* justify-content: center; */
    background-color: aliceblue;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    position: relative;
    transition: width 1.5s;
}

.input{
    background-color: transparent;
    font-size: 18px;
    border: none;
    margin: 10px 50px;
    width: 100%;
    outline: none;
    color: rgb(100, 100, 100);
    transition: width 1s;
    transition-delay: .5s;
}
.active.search-bar-contianer{
    width: 50px;
}
.active .input{
    width: 0;
}
.active .google-mic{
    width: 0;
}